.subscribe{
    background-color: rgb(163, 17, 17);
    color:rgba(255, 255, 255, 0.785);
    border:none;
    height:30px;
    width:105px;
    border-radius:5px;
    cursor:pointer;
    margin-right:6px;
    
}
.join{
       background-color: white;
       height:30px;
       width:60px;
       border-radius:5px;
       border-color:rgb(0, 119, 255);
       border-style:solid;
       border-width:1px;
       color:rgb(0, 85, 255);
       cursor:pointer;
       margin-right:6px;
       
}
.tweet{
    background-color: rgb(0, 136, 255);
    height: 36px;
    width:70px;
    border-radius:20px;
    color:white;
    font-weight:bold;
    font-size:15px;
    border:none;
    cursor:pointer; 
}